<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('Lenses')}" />

<body>
    <div th:replace="~{fragments/header :: header('lenses')}" />

    <main class="container mb-5">
        <h2 class="my-3 playfair-font">Lenses</h2>

        <div class="my-3">
            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-start">
                <form class="d-flex mb-3 full-width-sm" th:action="@{/lenses}">
                    <select th:name="m" class="form-select me-2 me-md-3" style="width: auto;">
                        <option value="">All Mounts</option>
                        <option th:each="mount : ${mounts}" th:value="${mount.id}" th:text="${mount.name}"
                            th:selected="${mount.id == mountId}"></option>
                    </select>

                    <input id="search-bar" class="form-control" type="text" th:name="q" th:value="${query}"
                        placeholder="Search...">
                    <button class="btn btn-warning ms-2 ms-md-3" type="submit">Search</button>
                </form>

                <div class="ms-sm-0 ms-md-3 mb-3">
                    <a class="btn btn-warning full-width-sm" th:href="@{/lenses/create}">
                        Add lens
                    </a>
                </div>

            </div>
        </div>

        <div class="text-center fs-5 fw-700" th:unless="${lenses.size() > 0}">
            There are no lenses available.
        </div>

        <table class="table" th:if="${lenses.size() > 0}">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th class="hide-sm" scope="col">Mount</th>
                    <th class="hide-sm" scope="col">Release Year</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lens: ${lenses}" th:object="${lens}">
                    <th scope="row">[[*{id}]]</th>
                    <td>[[*{name}]]</td>
                    <td class="hide-sm">[[*{mount.name}]]</td>
                    <td class="hide-sm" th:text="*{yearReleased != null ? yearReleased.getYear() : ''}"></td>
                    <td>
                        <a class="btn btn-warning btn-sm" th:href="@{/lenses/{id}(id = *{id})}">
                            Show
                        </a>
                        <a class="btn btn-success btn-sm" th:href="@{/lenses/edit/{id}(id = *{id})}">
                            Update
                        </a>
                        <div th:replace="~{fragments/modal :: trigger(*{id})}" />
                        <div th:replace="~{fragments/modal :: modal(*{name}, 'lenses', *{id})}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="~{fragments/footer :: footer()}" />

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>
