<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head(${edit ? 'Edit ' + mount.name : 'New Mount'})}" />

<body>
    <div th:replace="~{fragments/header :: header('mounts')}" />

    <main class="container">
        <h2 class="text-center my-3 playfair-font" th:text="${edit ? 'Edit ' + mount.name : 'Add new Mount'}"></h2>

        <form class="mb-5 px-5" th:object="${mount}" th:action="${edit ? '/mounts/edit/' + id : '/mounts/create'}"
            method="post">

            <div class="mb-3">
                <label class="form-label" for="input-name">Name: </label>
                <input id="input-name" class="form-control" type="text" th:field="*{name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="input-description">Description: </label>
                <textarea id="input-description" class="form-control" type="text" th:field="*{description}"
                    rows="3"></textarea>
            </div>

            <button class="btn btn-warning" type="submit" th:text="${edit ? 'Edit' : 'Create'}"></button>
        </form>

    </main>

    <div th:replace="~{fragments/footer :: footer()}" />

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>