<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head(${edit ? 'Edit ' + photographer.name : 'New Photographer'})}" />

<body>
    <div th:replace="~{fragments/header :: header('photographers')}" />

    <main class="container">
        <h2 class="text-center my-3 playfair-font"
            th:text="${edit ? 'Edit ' + photographer.name : 'Add new Photographer'}"></h2>

        <form class="mb-5 px-2 px-md-5" th:object="${photographer}"
            th:action="${edit ? '/photographers/edit/' + photographer.id : '/photographers/create'}" method="post">

            <div class="mb-3">
                <label class="form-label" for="input-name">Name: </label>
                <input id="input-name" class="form-control" type="text" th:field="*{name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="input-description">Biography: </label>
                <textarea id="input-description" class="form-control" type="text" th:field="*{biography}"
                    rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label" for="input-image">Image: </label>
                <input id="input-image" class="form-control" type="text" th:field="*{image}">
            </div>

            <div class="mb-3">
                <label class="form-label" for="input-release">Birthday: </label>
                <input id="input-release" class="form-control" type="date" th:value="*{birthday}" th:field="*{birthday}"
                    th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('birthday')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('birthday')}" th:text="${err}" />
                    </ul>
                </div>
            </div>

            <label class="form-label" for="select-cameras">Cameras used: </label>
            <div id="select-cameras" class="mb-3 checkbox-grid">
                <div class="form-check" th:each="camera: ${cameras}">
                    <label>
                        <input type="checkbox" name="camera-checkbox" th:value="${camera.id}" th:field="*{cameras}"
                            th:errorClass="is-invalid"> [[${camera.name}]]
                    </label>
                </div>
                <div th:if="${#fields.hasErrors('cameras')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('cameras')}" th:text="${err}" />
                    </ul>
                </div>
            </div>

            <label class="form-label" for="select-lenses">Lenses used: </label>
            <div id="select-lenses" class="mb-3 checkbox-grid">
                <div class="form-check" th:each="lens: ${lenses}">
                    <label>
                        <input type="checkbox" name="lens-checkbox" th:value="${lens.id}" th:field="*{lenses}"
                            th:errorClass="is-invalid"> [[${lens.name}]]
                    </label>
                    <div th:if="${#fields.hasErrors('lenses')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('lenses')}" th:text="${err}" />
                        </ul>
                    </div>
                </div>
            </div>

            <button class="btn btn-warning" type="submit" th:text="${edit ? 'Edit' : 'Create'}"></button>
        </form>

    </main>

    <div th:replace="~{fragments/footer :: footer()}" />

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>