<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head(${photographer.name})}" />

<body>
    <div th:replace="~{fragments/header :: header('photographers')}" />

    <main class="container">

        <div class="card my-5 mx-auto" th:object="${photographer}">
            <div class="row g-0">
                <div class="col-md-7 col-lg-8">
                    <img th:src="|/images/*{image}|" class="img-fluid rounded-start w-100" alt="">
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="card-body">
                        <h3 class="card-title playfair-font">
                            [[*{name}]]
                        </h3>

                        <p class="card-text" th:unless="${photographer.birthday == null}">
                            [[*{birthday.getYear()}]]
                        </p>

                        <p class="card-text" th:unless="${photographer.biography == null}">
                            [[*{biography}]]
                        </p>

                        <div class="card-text" th:if="${photographer.cameras.size() > 0}">
                            <ul class="card-list">
                                <div>Cameras used: </div>
                                <li th:each="camera: *{cameras}">
                                    <a class="btn btn-sm btn-warning" th:href=@{/cameras/{id}(id=${camera.id})}>
                                        [[${camera.name}]]
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-text" th:if="${photographer.lenses.size() > 0}">
                            <ul class="card-list">
                                <div>Lenses used: </div>
                                <li th:each="lens: *{lenses}">
                                    <a class="btn btn-sm btn-warning" th:href=@{/lenses/{id}(id=${lens.id})}>
                                        [[${lens.name}]]
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <a class="btn btn-success btn-sm" th:href="@{/photographers/edit/{id}(id = *{id})}">
                                Update
                            </a>
                            <div th:replace="~{fragments/modal :: trigger(*{id})}" />
                            <div th:replace="~{fragments/modal :: modal(*{name}, 'photographers', *{id})}" />
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </main>

    <div th:replace="~{fragments/footer :: footer()}" />

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>