<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('Cameras')}" />

<body>
    <div th:replace="~{fragments/header :: header('cameras')}" />

    <main class="container mb-5">
        <h3 class="my-3">Cameras</h3>

        <div class="my-3">
            <div class="d-flex justify-content-between">
                <form class="d-flex mb-3" th:action="@{/cameras}">
                    <input id="search-bar" class="form-control" type="text" th:name="q" th:value="${query}"
                        placeholder="Search...">
                    <button class="btn btn-primary ms-3" type="submit">Search</button>
                </form>

                <div class="ms-3">
                    <a class="btn btn-primary" th:href="@{/cameras/create}">Add camera</a>
                </div>
            </div>
        </div>

        <div class="text-center fs-5 fw-700" th:unless="${cameras.size() > 0}">
            There are no cameras available.
        </div>

        <table class="table" th:if="${cameras.size() > 0}">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Format</th>
                    <th scope="col">Release Year</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="camera: ${cameras}" th:object="${camera}">
                    <th scope="row">[[*{id}]]</th>
                    <td>[[*{name}]]</td>
                    <td>[[*{type}]]</td>
                    <td>[[*{format}]]</td>
                    <td>[[*{yearReleased.getYear()}]]</td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/cameras/{id}(id = *{id})}">
                            Show
                        </a>
                        <a class="btn btn-success btn-sm" th:href="@{/cameras/edit/{id}(id = *{id})}">
                            Update
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="~{fragments/fragments :: bootstrap}" />
</body>

</html>