<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <footer th:fragment="footer()" class="bg-header">
        <div class="container py-3">
            <hr>
            <div class="d-flex flex-column flex-md-row justify-content-between text-center text-md-start">
                <div class="mb-2 mb-md-0">RetroFocus. A celebration of photographic heritage.</div>
                <div>Built with care for the craft.</div>
            </div>
        </div>
    </footer>
</body>

</html>