@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.playfair-font {
  font-family: "Playfair Display", serif;
}

.bold {
  font-weight: 700;
}

.bg-header {
  background-color: #fff9f1;
}

.checkbox-grid {
  display: grid; 
  grid-template-columns: repeat(4, minmax(120px, 1fr));
  gap: 0.5rem;
  & > * {
    padding-block: 0.5rem;
    border: 1px solid rgba(112, 99, 92, 0.3);
    border-radius: 5px;
  }
}

.card-list {
  list-style: none;
  padding-inline: 0;
  & > * + * {
    margin-block: 0.2rem;
  }
}

.logo {
  height: 300px;
}

@media screen and (max-width: 770px) {
  .checkbox-grid {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
  }

  .hide {
    display: none;
  }

  .column {
    flex-direction: column;
    & > * {
      margin-bottom: 0.2rem;
      margin-inline-end: 0.2rem;
    }
  }

  .logo {
    height: 200px;
  }
}